// load the base configuration
r_decal_cullsize 1

// Setup custom controller
exec joystick.cfg

// run a user script file if present
exec autoexec.cfg

//
// stuff command line statements
//
stuffcmds

// PlaceboHUD

exec PlaceboHud/hudconfig.cfg